<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Nick Pestov</h1>
        <h3 style="color: #ade8f4;"> Computer Science Student @UofT</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//www.linkedin.com/in/nick-pestov/" target="_blank">
            <img src="../../assets/linkedin-logo-linkedin-icon-transparent-free-png.png" width="24" height="24" class="rounded-circle me-2" alt="">
            
        </a>
        <a href="//github.com/Nick-Pestov" target="_blank" >
            <img src="../../assets/github.png" width="24" height="24" class="rounded-circle me-2" alt="">
            
        </a>
    </div>
</div>
