.nav{
    background-color: #0b325e; /* Change this color to your preferred color */
  }

  .text-custom-color {
    color: aliceblue; /* Change this color to your preferred text color */
}

.font-weight-bold {
    font-weight: bold;
}

