<nav class="navbar-expand-border-md border-bottom md-3">
    <!--<div class="container-fluid"> -->
        <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-custom-color" routerLink="/home" routerLinkActive="font-weight-bold">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-custom-color" routerLink="/portfolio" routerLinkActive="font-weight-bold">
            Portfolio
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-custom-color" routerLink="/resume" routerLinkActive="font-weight-bold"> 
            Resume
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-custom-color" routerLink="/contact" routerLinkActive="font-weight-bold">
            Contact
        </a>
    </li>
</ul>

        
    <!--</div>-->
</nav>
