/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1140px;
}
.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size:  14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: azure;
}

body {
    background: linear-gradient(to bottom right, #03045e, #023e8a, #0558e8c9, #023e8a);
  }